[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MarginalMaxTest"]
	path = MarginalMaxTest
	url = https://github.com/canyi-chen/marginalmaxtest
[submodule "SIT"]
	path = SIT
	url = https://github.com/canyi-chen/sit
[submodule "abima"]
	path = abima
	url = https://github.com/canyi-chen/abima
